<p id="notice"><%= notice %></p>

<h1>Conters</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conters.each do |conter| %>
      <tr>
        <td><%= conter.count %></td>
        <td><%= link_to 'Show', conter %></td>
        <td><%= link_to 'Edit', edit_conter_path(conter) %></td>
        <td><%= link_to 'Destroy', conter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conter', new_conter_path %>
